<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About me </title>
</head>
<body>
    <h1>Hi 👋, I'm Shivam Kumar</h1>
    <h2>Passionately Learning Data Science  </h2>

    <p>
        💻 Data Science practitioner


        🛠️ Skills : Python, Statistics, EDA, Machine Learning, Deep Learning, NLP, Computer Vision
        
        🧑‍🎓 Master's in Commerce - Major Statistics
        
        🧑🏻‍💼 Experience :4+ years in Data, 3+ years as a Quality Auditor in Market Research
        
        ⚡ I enjoy: Reading, Gaming
        
        📩 How to reach me shivamm.py@gmail.com

    </p>
</body>
</html>